arch
backtrader
backtrader_plotting
certifi
fastparquet
fmp_python
holidays
logbook
lxml
matplotlib
openpyxl
pandas
pandas_datareader
pandas_market_calendars
pandas_ta
plotly
pyarrow
pyfolio
pykalman
pyqt5
PyQtWebEngine
rel
schedule
scikit-learn
seaborn
statsmodels
TA-Lib
tables
tqdm
websocket
websocket-client
yfinance
zipline