arch
backtrader
backtrader_plotting
certifi
fmp_python
holidays
logbook
lxml
matplotlib
openpyxl
pandas
pandas_datareader
pandas_market_calendars
pandas_ta
plotly
pyfolio
pykalman
pyqt5
PyQtWebEngine
schedule
scikit-learn
seaborn
statsmodels
TA-Lib
tqdm
yfinance
zipline